@model IEnumerable<FlightManager.Models.Flight>

@{
    ViewData["Title"] = "Index";
}

<h1>All active flights</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Add new flight</a>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfDeparture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plane)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PilotName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPassengersSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalBusinessClassSeats)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfDeparture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureHour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightDuration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plane)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PilotName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPassengersSeats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalBusinessClassSeats)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                    else
                    {
                        <a asp-controller="Passengers" asp-action="Create"><button type="button" class="btn btn-primary">Book now!</button></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
